# Xcode
.DS_Store
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.xcuserstate
*.xcuserdatad

# Temporary files
*.swp
*~

# Fastlane & Environment
.env
fastlane/report.xml
fastlane/Preview.html

